/* 
    Design Padrão
*/
.progress-bar {
    color: #333;
} 

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);

    &:focus {
        z-index: 2;
    }
}

.login-form {
    margin-top: 130px;
}

form[role=login] {
    olor: #5d5d5d;
    background: #f2f2f2;
    padding:26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;color: #5d5d5d;
    background: #f2f2f2;
    padding:26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
form[role=login] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}
form[role=login] input,
form[role=login] button {
    font-size: 18px;
    margin: 16px 0;
}
form[role=login] > div {
    text-align: center;
}

/* Login Manutenção Prefeitura */
.backPrefeitura {
    background: url('../App_Imagens/Back/centro-mairipora.JPG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Login Manutenção Licitacao */
.backLicitacao {
    background: url(../App_Imagens/Back/natureza-licitacao.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Login Manutenção Ouvidoria */
.backOuvidoria {
    background: url(../App_Imagens/Back/atendente-ouvidoria.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Login Manutenção Habitacao */
.backHabitacao {
    background: url(../App_Imagens/Back/conjunto-residencial.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}